<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>GST Search</title>
</head>

<body>

    <nav class="navbar navbar-primary" style="background-color: #051547;">
        <h1> </h1>
    </nav>

    <div class="jumbotron jumbotron-fluid" style="background-color: #0b1e59;">
        <div class="container">
            <h1 class="display-4 text-center" style="color: white;">Goods and
                Services
                Tax (GST) Details Search</h1>
            <p class="lead text-center" style="color: white;">Free GST Search tool - Search GSTIN online instantly and
                carry out GST
                Verification online using our GST number search
                tool.</p>
        </div>
    </div>

    <div class="col-4 mx-auto mt-5 bg-light">

        <div class="text-center">
            <form id="searchForm" onsubmit="validateAndSearch(); return false;">
                <div class="form-group">
                    <br>
                    <input class="form-control mr-sm-2 text-center" type="text" id="gstNumber"
                        placeholder="Enter GST number (must have 15 characters)" required
                        oninput="this.value = this.value.toUpperCase()" aria-label="Search">

                    <large id="errorText" class="text-danger" style="display: none;">GST number must be 15 characters
                        long!!</small>

                </div>
                <button type="submit" class="btn btn-success" style="background-color: #2e468e;">Search</button>
            </form>

            <div class="container">
                <div class="row">
                    <div id="result" class="mx-auto mt-5 d-flex align-items-center">
                        <div class="card" style="display: none; width: 20rem;">
                            <div class="card-body" id="resultCardBody" style="text-align: left;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>






            <br><br>

            <div class="div">
                <div class="row mx-auto text-center">
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h1>Click to copy</h1><br>
                                <h5 class="copyText" onclick="copyToClipboard(this)">18AABCU9603R1ZM</h5>
                                <h5 class="copyText" onclick="copyToClipboard(this)">10AABCU9603R1Z2</h5>
                                <h5 class="copyText" onclick="copyToClipboard(this)">04AABCU9603R1ZV</h5>
                                <h5 class="copyText" onclick="copyToClipboard(this)">22AABCU9603R1ZX</h5>
                                <h5 class="copyText" onclick="copyToClipboard(this)">30AABCU9603R1Z0</h5>
                                <h5 class="copyText" onclick="copyToClipboard(this)">24AABCU9603R1ZT</h5>
                                <h5 class="copyText" onclick="copyToClipboard(this)">06AABCU9603R1ZR</h5>
                                <h5 class="copyText" onclick="copyToClipboard(this)">02AABCU9603R1ZZ</h5>
                                <h5 class="copyText" onclick="copyToClipboard(this)">20AABCU9603R1Z1</h5>
                                <h5 class="copyText" onclick="copyToClipboard(this)">29AABCU9603R1ZJ</h5>
                                <h5 class="copyText" onclick="copyToClipboard(this)">32AABCU9603R1ZW</h5>
                                <h5 class="copyText" onclick="copyToClipboard(this)">23AABCU9603R1ZV</h5>
                                <h5 class="copyText" onclick="copyToClipboard(this)">27AABCU9603R1ZN</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h1>Click to copy</h1><br>
                                <h5 class="copyText" onclick="copyToClipboard(this)">17AABCU9603R1ZO</h5>
                                <h5 class="copyText" onclick="copyToClipboard(this)">07AABCU9603R1ZP</h5>
                                <h5 class="copyText" onclick="copyToClipboard(this)">21AABCU9603R1ZZ</h5>
                                <h5 class="copyText" onclick="copyToClipboard(this)">34AABCU9603R1ZS</h5>
                                <h5 class="copyText" onclick="copyToClipboard(this)">03AABCU9603R1ZX</h5>
                                <h5 class="copyText" onclick="copyToClipboard(this)">08AABCU9603R1ZN</h5>
                                <h5 class="copyText" onclick="copyToClipboard(this)">33AABCU9603R1ZU</h5>
                                <h5 class="copyText" onclick="copyToClipboard(this)">16AABCU9603R1ZQ</h5>
                                <h5 class="copyText" onclick="copyToClipboard(this)">09AABCU9603R1ZL</h5>
                                <h5 class="copyText" onclick="copyToClipboard(this)">05AABCU9603R1ZT</h5>
                                <h5 class="copyText" onclick="copyToClipboard(this)">19AABCU9603R1ZK</h5>
                                <h5 class="copyText" onclick="copyToClipboard(this)">36AABCU9603R1ZO</h5>
                                <h5 class="copyText" onclick="copyToClipboard(this)">37AABCU9603R1ZM</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>






            <script>
                function validateAndSearch() {
                    var gstNumberInput = document.getElementById("gstNumber");
                    var errorText = document.getElementById("errorText");

                    // Check if the GST number is 15 characters long
                    if (gstNumberInput.value.length !== 15) {
                        errorText.style.display = "block";
                        return;
                    }

                    // Hide the error message if the length is correct
                    errorText.style.display = "none";

                    // Proceed with the search
                    search();
                }

                function search() {
                    var gstNumber = document.getElementById("gstNumber").value;
                    var resultCard = document.querySelector(".card");

                    fetch("/search/" + gstNumber)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('GST number not found');
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log('Parsed JSON data:', data);
                            var resultCardBody = document.getElementById("resultCardBody");
                            resultCardBody.innerHTML = "<p><b>GST Number: </b>" + data.gst_number + "</p><p><b>Company Name: </b>" + data.company_name + "</p><p><b>State: </b>" + data.state + "</p><p><b>PAN Number: </b>" + data.pan_number + "</p>";
                            resultCard.style.display = "block";  // Show the card
                        })
                        .catch(error => {
                            console.error('Error parsing JSON:', error);
                            var resultCardBody = document.getElementById("resultCardBody");
                            resultCardBody.innerHTML = "<p>GST number not Valid or Not found in our Database.</p>";
                            resultCard.style.display = "block";  // Hide the card
                        });
                }
            </script>

            <script>
                function copyToClipboard(element) {
                    // Get the text content from the clicked element
                    var textToCopy = element.innerText;

                    // Create a temporary input element
                    var tempInput = document.createElement("input");
                    tempInput.value = textToCopy;

                    // Append the input element to the DOM
                    document.body.appendChild(tempInput);

                    // Select the text inside the input element
                    tempInput.select();

                    // Execute the "copy" command
                    document.execCommand("copy");

                    // Remove the temporary input element
                    document.body.removeChild(tempInput);

                    // Show a message indicating that the text has been copied
                    alert("Copied: " + textToCopy);
                }
            </script>
        </div>
    </div>

</body>

</html>